<div class ="user-page">
  <div class="create">
    <div class="success"><br><br><br><br><br>
      <h3>
        &emsp;投稿が完了しました。
      </h3>
      <a class="btn" href="/tweets">投稿一覧へ戻る</a>
    </div>
  </div>
</div>
