<div class ="user-page">
  <div class="edit-page">
    <%= form_for @tweet do |form|%>
      <h3>
        Update
      </h3>
      <%= form.text_area :text %>
      <br><br><input type="submit" value="SENT">
    <% end %>
  </div>
</div>


