<div class ="user-page">
  <div class="wright-page">
  <%= form_with(model:Tweet.new,local:true) do |form|%>
    <h5>What's happening?</h5>
    <textarea wrap="hard"cols="50" name="text" placeholder="text" rows="10"></textarea><br><br>
    <input type="submit" class ="btn" value="SENT">
  <% end %>
  </div>
</div>
